<div class="container">
  <h1><%= @task.title %></h1>


  <table class="table">
    <thead>
        <tr>
          <th scope="col">Completed?</th>
          <th scope="col">Description</th>
          <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
      <tr scope="row">
          <td>
            <input type="checkbox" <%= "checked" if @task.completed == true %> class="text-center">
          </td>
          <td>
            <%= @task.details %>
          </td>
          <td>
             <%= link_to "Edit task", edit_task_path, class: 'btn btn-primary'%>
             <%= link_to "Delete task", task_path(params[:id]),
                  method: :delete,
                  data: { confirm: "Are you sure?" },
                  class: 'btn btn-primary' %>
          </td>
      </tr>
    </tbody>
  </table>

    <%= link_to "Back to tasks", tasks_path %>
  </div>
</div>
